/******************************************/
/*************** Part 1 *******************
******************************************/


* {
  box-sizing: border-box;
  
}

body {
  font-family: Verdana, serif;
  background-image: url("bg.jpg");
  background-position: center center;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}

h2 {
	color: blue;
}

h4 {
	margin: 15px 0px;
}

h1, div.answer {
	text-align: center;
}

span,
main {
  background-color: white;  
  color: var(--text, black);
}

span { font-weight: bold; }
       
main {
  --gradDark: lightgrey; 
  --gradLight: white; 
  background: linear-gradient(to bottom, var(--gradDark), var(--gradLight));
  padding: 10px 10px 10px 10px;
  height: 15vh;
  font-size: 16px;

}
		
h1 { font-size: 1.2rem; display: inline; }


#themeSwitchmoon:checked ~ main,
#themeSwitchmoon:checked ~ label {
  --text: white;
}

#themeSwitchsun:checked ~ main { 
  --gradDark: lightyellow; 
  --gradLight: #FAC957; 
}

#themeSwitchmoon:checked ~ main { 
  --gradDark: blue; 
  --gradLight: lightblue; 
}

#themeSwitchsun::after {
  right: 50%; 
  margin-left: 35px;
  color: goldenrod;
    line-height: 30px;
    height: 30px;
    font-size: 2em;
}

#themeSwitchmoon::after {
  right: 100%;
  margin-left: 35px;
  color: white;
    line-height: 30px;
    height: 30px;
    font-size: 2em;
}

#font1:checked ~ main { 
  font-size: 16px; 
}

#font2:checked ~ main {
    font-size: 30px;
}

#font3:checked ~ main { 
  font-size: 11px; 
}

#font1::after {
 
    font-size: 16px;
}

#font2::after {

    font-size: 30px;
}

#font3::after {

    font-size: 11px;
}

/*******

***/
#family1:checked ~ main { 
  font-family: serif; 
}

#family2:checked ~ main {
    font-family: fantasy;
}

#family3:checked ~ main { 
  font-family: cursive;
}

#family1::after {
 
    font-family: serif; 
}

#family2::after {

    font-family: fantasy;
}

#family3::after {

    font-family: cursive;
}

#italic:checked ~ main { 
  font-style: italic; 
}

#bold:checked ~ main {
    font-weight: bold;
}




/******************************************/
/*************** Part 2 *******************
******************************************/


.dropbtn, .dropbtn2, .dropbtn3 {
    background-color: blue;
    color: white;
    padding: 1em;
    font-size: 1.2em;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

.dropdown .dropdown2 {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    overflow: auto;
    box-shadow: 10px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 0.7em 1em;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #333; color: white; font-weight: bold;}

.show {display:block;}

fieldset {
	height: 300px;
}

.btnpart2 {
	display: flex;
}




/******************************************/
/*************** Part 3 *******************
******************************************/



img {
	width: 300px;
	height: 300px;
}

.wrapper {
	width: 1170px;
	margin: 0 auto;
}

.wrapper a img{
	width: 100%;
}

.wrapper a{
	width: 32%;
	float: left;
	margin: 5px;
}

