header {
	font-size: 17px;
	color: green;
	text-align: center;

}

body {

	background-color: paleturquoise;

}

p {
	margin-left: 30px;
	font-size: 20px;
}

a {
 	text-decoration:none;
 	color:#cc0000;
}

a.button,div.container{
 	float:left;
 	/*display: flex;*/
 	flex-wrap: wrap;

}

a.button{
	 background-color:#cc0000;
	 border:1px solid black;
	 border-radius:10px;
	 color:#fff;
	 margin-right:100px;
	 margin-top: 20px;
	 padding:10px 10px 10px 10px;
}

ul, li {
	list-style: none;
	margin: 10px;
}

.box {
	width: 750px;
	border: 2px dashed blue;
	padding: 35px;
	margin: 25px;
	background-color: white;
}

.box p {
	margin-bottom: -17px;
}

p.first {
	font-family: "Times New Roman";
	color: red;
	font-weight: bold;

}

p.second {
	font-family: "Arial";
	color: blue;
	font-weight: bold;

}

p.third {
	font-family: "Impact";
	color: green;
	font-weight: bold;
	font-style: italic;

}

#myform {
	display: flex;
	margin: 30px;
	padding: 5px;
}

#myform > div
{
  flex:1 1 auto;
  margin:5px;
}


table {
	border-collapse: collapse;
	width: 100%;	
}

th, td {
	text-align: center;
	padding: 8px;
}

th {
 	background-color: #4CAF50;
  	color: white;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
  background-color: #4CAF50;
  color: white;
}

#instructions, #showhide {
  padding: 5px;
  text-align: center;
  background-color: #e5eecc;
  border: solid 1px #c3c3c3;
}

#showhide {
	width: 250px;
}

#instructions {
  padding: 50px;
  display: none;
}

label {
	display: inline-block;
}

table {
	background-color: white;
}

#flexbox {
	display: flex;
	align-content: center;
	
}

#box1, #box2 {
	border-style: solid;
  	border-color: green;
  	background-color: lightblue;

}

#conversion {
	align-items: center;
  justify-content: center;
}