header {
	font-size: 17px;
	color: green;
	text-align: center;

}

body {

	background-color: beige;

}

p {
	margin-left: 30px;
	font-size: 21px;
}

a {
 	text-decoration:none;
 	color:#cc0000;
}

a.button,div.container{
 	float:left;
 	/*display: flex;*/
 	flex-wrap: wrap;

}

a.button{
	 background-color:#cc0000;
	 border:1px solid black;
	 border-radius:10px;
	 color:#fff;
	 margin-right:100px;
	 margin-top: 20px;
	 padding:10px 10px 10px 10px;
}

ul, li {
	list-style: none;
	margin: 10px;
}
